# IDE/Editor junk
.Rproj.user
.Rhistory
.RData
.Rapp.history
.Rbuildignore
.DS_Store
*.swp
*.tmp
.vscode/
# OAuth or local auth
.httr-oauth
# Build artifacts and outputs
.Rcheck/
.Rbuild/
inst/doc/
documentation/
doc/
Meta/
# Temporary or unneeded development files
*_old.R
scf_functions_*.txt
local-data/
mock-data/*.rds
testdata/
tests/*.rds
scf.Rproj
/doc/
/Meta/
package
scf_1.0.1.tar.gz
scf.Rcheck
scf2022.rds
